---
name: deploy-docs
on:
  workflow_call:
  workflow_dispatch:
  push:
    branches:
      - main
    # Paths can be used to only trigger actions when you have edited certain files, such as a file within the /docs directory
    paths:
      - "book/**"
      - ".github/workflows/deploy-docs.yaml"

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: 3.9

      # install uv
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "latest"

      # install the source code and book dependencies
      - name: Install dependencies
        run: uv sync --extra book
      # Build the book
      - name: Build the book
        run: cd book && uv run jupyter book build

      # Deploy the book's HTML to gh-pages branch
      - name: GitHub Pages action
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: book/_build/html
          cname:
